In [2]:
#import necessary packages
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib.image as mpimg
import numpy as np
import http.client
import json
from pandas import json_normalize

In [ ]:
#import Data

#import PL data
PL_18_19 = pd.read_csv('Data\E_18_19.csv')
PL_19_20 = pd.read_csv('Data\E_19_20.csv')
PL_20_21 = pd.read_csv('Data\E_20_21.csv')
PL_21_22 = pd.read_csv('Data\E_21_22.csv')

#import xG for PL
PL_18_19_xG = pd.read_csv('Data\E_18_19_xG.csv')
PL_19_20_xG = pd.read_csv('Data\E_19_20_xG.csv')
PL_20_21_xG = pd.read_csv('Data\E_20_21_xG.csv')
PL_21_22_xG = pd.read_csv('Data\E_21_22_xG.csv')

In [65]:
#Merge data
PL_total = pd.concat([PL_18_19, PL_19_20, PL_20_21, PL_21_22])
PL_total_xG = pd.concat([PL_18_19_xG, PL_19_20_xG, PL_20_21_xG, PL_21_22_xG])

not_relevant_columns = ['BbOU','BbMx>2.5','BbAv>2.5','BbMx<2.5','B365>2.5','B365<2.5','P>2.5','P<2.5','Max>2.5','Max<2.5','Avg>2.5','Avg<2.5','BbAH','BbAHh','AHh','BbMxAHH','BbAvAHH','BbMxAHA','BbAvAHA','B365AHH','B365AHA','PAHH','PAHA','MaxAHH','MaxAHA','AvgAHH','AvgAHA','Time','MaxH','MaxD','MaxA','AvgH','AvgD','AvgA','B365CH','B365CD','B365CA','BWCH','BWCD','BWCA','IWCH','IWCD','IWCA','WHCH','WHCD','WHCA','VCCH','VCCD','VCCA','MaxCH','MaxCD','MaxCA','AvgCH','AvgCA','AvgCD','B365C>2.5','B365C<2.5','PC>2.5','PC<2.5','AHCh','B365CAHH','B365CAHA','PCAHH','PCAHA','MaxCAHH','MaxCAHA','AvgCAHH','AvgCAHA','BbAv<2.5','MaxC>2.5','MaxC<2.5','AvgC>2.5','AvgC<2.5']
#reset index
PL_total.drop( axis= 1, labels=not_relevant_columns, inplace=True)
PL_total.reset_index(inplace=False, drop=True)

#remove nan values and reset index
PL_total_xG.drop(labels='Notes', axis=1, inplace=True)
PL_total_xG.dropna(axis=0, inplace=True, how='all')
PL_total_xG.reset_index(inplace=True, drop=True)


#PL_total_xG
PL_total

,Div,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,...,Bb1X2,BbMxH,BbAvH,BbMxD,BbAvD,BbMxA,BbAvA,PSCH,PSCD,PSCA
0,E0,10/08/2018,Man United,Leicester,2,1,H,1,0,H,...,39.0,1.60,1.56,4.20,3.92,8.05,7.06,1.55,4.07,7.69
1,E0,11/08/2018,Bournemouth,Cardiff,2,0,H,1,0,H,...,39.0,1.93,1.88,3.71,3.53,4.75,4.37,1.88,3.61,4.70
2,E0,11/08/2018,Fulham,Crystal Palace,0,2,A,0,1,A,...,39.0,2.60,2.47,3.49,3.35,3.05,2.92,2.62,3.38,2.90
3,E0,11/08/2018,Huddersfield,Chelsea,0,3,A,0,2,A,...,38.0,6.85,6.09,4.07,3.90,1.66,1.61,7.24,3.95,1.58
4,E0,11/08/2018,Newcastle,Tottenham,1,2,A,1,2,A,...,39.0,4.01,3.83,3.57,3.40,2.12,2.05,4.74,3.53,1.89
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
278,E0,13/03/2022,West Ham,Aston Villa,2,1,H,0,0,D,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.58,3.31,3.01
279,E0,13/03/2022,Arsenal,Leicester,2,0,H,1,0,H,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.45,4.78,7.92
280,E0,14/03/2022,Crystal Palace,Man City,0,0,D,0,0,D,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.88,5.58,1.34
281,E0,16/03/2022,Brighton,Tottenham,0,2,A,0,1,A,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.79,3.49,2.12
282,E0,16/03/2022,Arsenal,Liverpool,0,2,A,0,0,D,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.75,3.60,2.09

In [67]:
#import Player stats
Player_Stats_20_21 = pd.read_csv('Data\Player_Stats.csv')

Player_Stats_20_21

,,,,,,,Playing Time,Playing Time.1,Playing Time.2,Playing Time.3,Performance,Performance.1,Performance.2,Performance.3,Performance.4,Performance.5,...,Expected,Expected.1,Expected.2,Expected.3,Per 90 Minutes.5,Per 90 Minutes.6,Per 90 Minutes.7,Per 90 Minutes.8,Per 90 Minutes.9,Unnamed: 25
Rk,Player,Nation,Pos,Squad,Age,Born,MP,Starts,Min,90s,Gls,Ast,G-PK,PK,PKatt,CrdY,...,xG,npxG,xA,npxG+xA,xG,xA,xG+xA,npxG,npxG+xA,Matches
1,Patrick van Aanholt\5f09991f,nl NED,DF,Crystal Palace,29,1990,22,20,1777,19.7,0,1,0,0,0,2,...,1.2,1.2,0.8,2.0,0.06,0.04,0.10,0.06,0.10,Matches
2,Tammy Abraham\f586779e,eng ENG,FW,Chelsea,22,1997,22,12,1040,11.6,6,1,6,0,0,0,...,6.4,6.4,0.9,7.3,0.56,0.07,0.63,0.56,0.63,Matches
3,Che Adams\f2bf1b0f,sct SCO,FW,Southampton,24,1996,36,30,2667,29.6,9,5,9,0,0,1,...,8.7,8.7,5.8,14.5,0.29,0.19,0.49,0.29,0.49,Matches
4,Tosin Adarabioyo\c81d773d,eng ENG,DF,Fulham,22,1997,33,33,2953,32.8,0,0,0,0,0,1,...,1.1,1.1,0.4,1.5,0.03,0.01,0.04,0.03,0.04,Matches
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
528,Andi Zeqiri\d01231f0,ch SUI,FWDF,Brighton,21,1999,9,0,171,1.9,0,0,0,0,0,0,...,0.6,0.6,0.1,0.7,0.33,0.04,0.37,0.33,0.37,Matches
529,Oleksandr Zinchenko\51cf8561,ua UKR,DF,Manchester City,23,1996,20,15,1478,16.4,0,0,0,0,0,0,...,0.7,0.7,1.3,2.1,0.04,0.08,0.13,0.04,0.13,Matches
530,Hakim Ziyech\6622454d,ma MAR,FWMF,Chelsea,27,1993,23,15,1172,13.0,2,3,2,0,0,3,...,1.9,1.9,3.7,5.6,0.15,0.28,0.43,0.15,0.43,Matches
531,Kurt Zouma\ce4246f5,fr FRA,DF,Chelsea,25,1994,24,22,2029,22.5,5,0,5,0,0,3,...,1.8,1.8,0.0,1.9,0.08,0.00,0.08,0.08,0.08,Matches
532,Martin Ødegaard\79300479,no NOR,MF,Arsenal,21,1998,14,9,866,9.6,1,2,1,0,0,0,...,1.1,1.1,2.1,3.2,0.11,0.22,0.33,0.11,0.33,Matches

In [68]:
#import data from fantasy league

Fantasy_Gameweek = pd.read_csv('Data\Fantasy_Gameweek.csv')

Fantasy_Gameweek

,name,position,team,xP,assists,bonus,bps,clean_sheets,creativity,element,...,team_a_score,team_h_score,threat,total_points,transfers_balance,transfers_in,transfers_out,value,was_home,yellow_cards
0,Ibrahima Diallo,MID,Southampton,0.2,0,0,3,0,0.0,565,...,3,2,0.0,1,26,143,117,45,True,0
1,Felipe Anderson Pereira Gomes,MID,West Ham,0.0,0,0,0,0,0.0,440,...,1,2,0.0,0,-190,4,194,61,True,0
2,Raheem Sterling,MID,Man City,2.2,0,0,0,0,0.0,276,...,0,5,0.0,0,5480,40427,34947,115,True,0
3,Juan Mata,MID,Man Utd,3.2,0,0,0,0,0.0,290,...,3,2,0.0,0,480,1149,669,59,False,0
4,Aaron Connolly,FWD,Brighton,0.0,0,0,0,0,12.0,78,...,1,1,29.0,2,-2355,591,2946,53,True,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
598,Max Meyer,MID,Crystal Palace,0.0,0,0,0,0,0.0,143,...,2,0,0.0,0,-50,69,119,48,True,0
599,Hakim Ziyech,MID,Chelsea,5.3,0,0,9,1,30.8,114,...,0,0,13.0,2,21373,128009,106636,83,True,1
600,Jonny Evans,DEF,Leicester,2.2,0,0,14,0,2.2,219,...,2,1,2.0,1,6790,8426,1636,55,True,0
601,Kyle Edwards,MID,West Brom,-0.3,0,0,0,0,0.0,421,...,0,1,0.0,0,-56,39,95,48,True,0
602,Ola Aina,DEF,Fulham,4.0,0,0,8,0,15.0,562,...,2,1,14.0,2,4111,6849,2738,45,False,0

In [ ]:
#API Import


conn = http.client.HTTPSConnection("api-football-v1.p.rapidapi.com")

headers = {
    'x-rapidapi-host': "api-football-v1.p.rapidapi.com",
    'x-rapidapi-key': "b8bd6a409emshdd09020617fc3afp1d89f3jsnf6eb60efca6d"
    }

conn.request("GET", "/v3/fixtures/statistics?fixture=2755", headers=headers)

res = conn.getresponse()
data = res.read()

#res.encoding 'utf-8'
out = json.loads(data)
#data.decode("utf-8")
print (json.dumps(out, indent = 4, sort_keys=True))
#print(out)